@use '@angular/material' as mat;

.container {
  justify-content: space-around;

  @include mat.chips-overrides((
    elevated-container-color: #2c76ea,
    elevated-selected-container-color: #cd31a2,
    label-text-color: white,
    selected-label-text-color: white,
    outline-width: 0px,
  ));
}
